*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  text-align: center;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

.header {
  margin-bottom: 25px;
}

#coming-soon {
  font-size: 16px;
  color: aquamarine;
}

#footer {
  text-align: right;
  margin-right: 25px;
}

.text-gray {
  color: gray;
}
